# Ignore Python compiled files
__pycache__/
*.pyc
*.pyo

# Ignore virtual environments
venv/
env/

# Ignore Django migrations
*/migrations/*.pyc
*/migrations/*.py

# Ignore SQLite database
db.sqlite3

# Ignore VS Code settings
.vscode/

# Ignore environment variables
.env
